# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
env/
venv/

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.log

# Node & Build artifacts
node_modules/
.next/
dist/
mongo-data/
db.sqlite3
.env*

